* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  padding-top: 10px;
  padding-bottom: 20px;
  width: 23%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: lightblue;
  border-radius: 10px;
  text-align: center;
  margin: auto;
  margin-top: 50px;
  box-shadow: 12px 10px 44px darkgray;
}

.qr-code-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

img{
  border-radius: 10px;
}

.qr-code-description{
  width: 90%;
}

h1{
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 15px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a { color: hsl(228, 45%, 44%); }

footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 131px;
    gap: 2px;
    justify-content: center;
}